body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 900px;
}

.header-logo-text {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0px;
}

li {
  display: inline;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header {
  background-image: url("../img/apples.jpg");
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 35px 45px;
}

h1 {
  font-size: 52px;
  font-weight: 200;
  color: #f3f3f3;
  letter-spacing: 10px;
  margin-top: 150px;
}

h1 > span {
  font-size: 100px;
}

.header_text {
  color: #fff;
}

.button {
  margin-top: 200px;
}

.button1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #fff;
  padding: 16px 96px;
  margin: 10px 2px;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 90px;
  margin-top: 100px;
  padding-top: 0px;
}

section,
.news_block {
  padding: 50px;
}

article {
  display: flex;
}

.articles,
.news_block,
.header_footer {
  background-color: #f3f3f3;
}

.article-img {
  width: calc(70% + 115px);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 50px;
}

.article-text {
  width: 50%;
}

.text1 {
  padding: 15px 25px 0px 90px;
}

.text2 {
  padding: 15px 90px 0px 25px;
}

.img1 {
  background-image: url(../img/sample.jpg);
}

.img2 {
  background-image: url(../img/sample1.jpg);
}

.article-img > button {
  border: 2px solid #ffffff;
  margin: 20px;
  padding: 6px 10px;
  align-self: flex-end;
  width: 65px;
  height: 34px;
  background-color: #343638;
  color: #f0f0f0;
}

.article-img > h3 {
  text-align: start;
  padding: 20px;
  padding-bottom: 0px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

.left-text,
.right-text {
  background-color: transparent;
  text-align: left;
  position: relative;
  z-index: 5;
  width: 50%;
}

.right-text {
  color: #000;
  margin-top: 50px;
}

.left-text {
  color: #000;
  align-self: center;
  font-size: 20px;
  padding-left: 50px;
}

.header_footer {
  height: 200px;
}

footer {
  padding: 10px 50px;
  height: 16px;
}

.footer-nav {
  list-style: none;
  display: flex;
  float: right;
}

.footer-nav-item > a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  margin-left: 20px;
}

.footer-copyright {
  float: left;
  font-size: 14px;
  color: #9e9e9e;
}

.news_subscribe {
  background-color: #fff;
  text-align: center;
  height: 100px;
  padding-top: 50px;
}

.news_subscribe > p {
  display: inline;
  font-size: 26px;
  margin-left: 50px;
  margin-right: 50px;
}

#e-mail {
  border: 1px solid #000000;
  background-color: #f3f3f3;
  padding: 12px;
  text-align: left;
  width: 1200px;
}

#e-mail,
#submit {
  font-size: 14px;
}

#submit {
  background-color: #343638;
  color: #ffffff;
  padding: 11px;
}

.header_footer {
  display: flex;
  width: 100%;
  background-color: #fff;
}
