body {
  background-color: #21232e;
  width: 100%;
  height: auto;
  margin: 0;
}

.landing-logo {
  display: flex;
  align-items: center;
}
.landing-logo p {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Fresca", sans-serif;
  font-weight: 800;
  color: #fff;
  line-height: 20px;
  font-size: 25px;
  padding-left: 15px;
  margin: 0;
  padding-top: 10px;
}
.landing-logo p span {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: -1px;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url("../img/m-h-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  border-radius: 0 0 400px 0;
  z-index: 900;
}
.header .header-wrap {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
  padding-bottom: 200px;
  padding-top: 20px;
}
.header_heading {
  font-size: 70px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  width: 100%;
  max-width: 600px;
  color: #fff;
}
.header_heading:after {
  background-color: #ff4e33;
  content: "";
  width: 295px;
  height: 50px;
  position: relative;
  left: 0;
  z-index: -1;
  top: -60px;
  display: block;
}
.header_text {
  width: 100%;
  max-width: 515px;
  margin-bottom: 60px;
  font-family: "Fresca", sans-serif;
  color: #fff;
}
.header_button {
  background-color: #e3ac00;
  width: 130px;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}
.header_button:hover,
.section_banner_button:hover {
  background-color: red;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.login {
  color: #21232e;
  padding-left: 15%;
}

.section {
  width: 100%;
  height: auto;
  position: relative;
}
.section_text {
  width: auto;
  height: auto;
  position: relative;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  color: #fff;
  z-index: 200;
  font-weight: 600;
  display: table;
  margin: 0 auto;
  padding: 30px 0;
}
.section_text::after {
  content: "";
  background-color: #ff4e33;
  width: 178px;
  height: auto;
  min-height: 44px;
  position: absolute;
  right: 3%;
  z-index: -1;
  bottom: 35%;
}
.section_card_wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.section_card {
  background-color: #3b3f50;
  margin: 0 10px;
  margin-top: 30px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  flex-direction: row;
  padding: 15px;
  position: relative;
  width: 50%;
}
.section_card_img {
  width: 100%;
  height: 225px;
  border-radius: 5px;
}
.section_card_heading {
  text-align: center;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  position: relative;
  z-index: 100;
  flex-direction: column;
  margin: 0 auto;
  display: table;
  width: auto;
  margin-top: 10px;
  font-size: 25px;
}
.section_card_underline {
  background-color: #ff4e33;
  height: auto;
  min-height: 11px;
  position: relative;
  display: table;
  z-index: -2;
  top: -13px;
  width: 100%;
}
.section_card_text {
  color: #c0c0ce;
  font-family: "Fresca", sans-serif;
  text-align: center;
  padding: 0px 50px 0px 50px;
}
.section_banner {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -85px;
  z-index: 100;
}
.section_banner_text_wrap {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #d89b0a, #922b53);
  max-width: 990px;
  position: relative;
  z-index: 100;
}
.section_banner_button {
  display: block;
  position: relative;
  right: 15%;
  background-color: #d89b0a;
  width: 130px;
  height: 45px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  z-index: 400;
}
.section_banner_heading {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 35px;
  width: 100%;
  max-width: 600px;
  z-index: 200;
  margin: 30px 0 10px 100px;
}
.section_banner_heading:after {
  content: "";
  background-color: #ff4e33;
  width: 75px;
  height: auto;
  min-height: 55px;
  position: relative;
  left: 23.5%;
  z-index: -1;
  top: -61px;
  display: block;
}
.section_banner_text {
  width: 100%;
  max-width: 600px;
  color: #c0c0ce;
  font-size: 20px;
  font-family: "Fresca", sans-serif;
  margin: 0 0 40px 100px;
}
.section_link {
  padding-left: 40%;
  color: #21232e;
}

.footer {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #3b3f50;
  padding: 150px 0 50px 0;
}
.footer .footer-wrap {
  width: 85%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrap .footer-cr {
  color: #c0c0ce;
  font-family: "Fresca", sans-serif;
  font-size: 16px;
}
.footer_logo {
  display: flex;
  flex-direction: row;
}
.footer_logo img {
  padding-right: 15px;
}
.footer_logo p {
  color: #c0c0ce;
  font-size: 30px;
  margin: 0;
  padding: 10px 0 0 0;
}
.footer_logo p span {
  font-size: 12px;
}
.footer_text {
  width: 100%;
  max-width: 350px;
  font-family: "Fresca", sans-serif;
  margin: 0;
  font-size: 16px;
}
