body {
  padding: 0;
}

section {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-title {
  font-size: 3em;
  color: black;
  margin: 0;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  border: 0;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  border: 0;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  color: #450a61;
}

.cell:nth-child(1) {
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}
.cell:nth-child(2) {
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}
.cell:nth-child(3) {
  border-bottom: 8px solid black;
}
.cell:nth-child(4) {
  border-bottom: 8px solid black;
  border-right: 8px solid black;
}
.cell:nth-child(5) {
  border-bottom: 8px solid black;
  border-right: 8px solid black;
}
.cell:nth-child(6) {
  border-bottom: 8px solid black;
}
.cell:nth-child(7) {
  border-right: 8px solid black;
}
.cell:nth-child(8) {
  border-right: 8px solid black;
}

.game-status {
  font-size: 2rem;
  margin: 0;
  color: #3d2c8f;
}

.game-restart,
.game-reset {
  padding: 12px 15px;
  margin: 15px;
  cursor: pointer;
  background-color: #6049d3;
  border: 1px solid #6049d3;
  border-radius: 4px;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
  outline: none;
  color: #fff;
}

.game-restart:active,
.game-reset:active {
  transform: scale(1.4);
}
.game-restart:hover,
.game-reset:hover {
  background-color: #4e31dd;
}
